extends layout

block content
  .container
    h1.text-center.mb-5 ADD POST COMMUNITY
    .row
      .col-lg-8.col-md-10.mx-auto
        form(action="/admin/community" method="POST" enctype="multipart/form-data")
          .row
            .col-md-6
              input(type="text" name="name" placeholder="POST TITLE" ).mb-4.form-control
            .col-md-6
              input(type="file" name="img" id="inputImage")
              label(for="inputImage" id="labelFile")
                span Photo Upload
            .col-12
              label(for="floatingTextarea" class="form-label") Description
              textarea(
                id="floatingTextarea"
                name="description",
                placeholder="POST Description"
                style="resize:none;min-height:250px"
                class="form-control")  
            div( class="d-grid gap-2 col-6 mx-auto my-4")
                button( class="btn btn-primary" type="submit" ) Send    
  .container.my-5
    if data.length
      h1.text-center ALL POSTS
    .row
      each n,i in data
        .col-md-4
          .card
            .card-img
              img(src=n.img, alt="")
            .card-body
              .card-title #{n.name}
              p.card-text #{n.description}
              a(href="/admin/community/"+n._id).btn.btn-danger.my-3 DELETE
              div( class="accordion" id="accordionExample"+n._id)
                div(class="accordion-item")
                  h2.accordion-header
                    button.accordion-button(
                      id="headingOne"+n._id
                      type='button'
                       data-bs-toggle='collapse'
                       data-bs-target='#collapseOne'+n._id
                       aria-expanded='true'
                       aria-controls='collapseOne'+n._id)
                      | UPDATE POST
                  .accordion-collapse.collapse(
                    id="collapseOne"+n._id
                    aria-labelledby='headingOne'+n._id
                    data-bs-parent='#accordionExample'+n._id
                    )
                    .accordion-body
                      form(
                        action=`/admin/community/edit/${n._id}`,
                        method="post", enctype="multipart/form-data")
                        .row
                          .col-md-12
                            input(
                              type="text"
                              name="name"
                              value=n.name
                              placeholder="POST TITLE"
                              ).mb-4.form-control
                          .col-md-12
                            input(type="file" name="img" id="inputImages"+n._id).input_file
                            label(for="inputImages"+n._id id="labelFiles").input_label
                              span Photo Upload
                          .col-12
                            label(for="floatingTextarea" class="form-label") Description
                            textarea(
                              id="floatingTextarea"
                              name="description",
                              placeholder="POST Description"
                              style="resize:none;min-height:250px"
                              class="form-control")  
                              | #{n.description }
                          div( class="d-grid gap-2 col-6 mx-auto my-4")
                            button( class="btn btn-primary" type="submit" ) Send 