extends layout

block content
  h1.text-center Products
  .container-fluid.px-3
    ul
      each n, i in products
        li.product_list
          a(href=`/admin/product/edit/${n._id}`) 
            img(src=`${n.img}`, alt="img")
            h3 #{n.name}
            p #{n.category}
            if n.sale
              span #{n.sale}
            else  
              span #{n.price}  
          .row
            .col-6
              //- each n ,i in 