extends layout

block content
  .container
    .row
      each l , i in product.comments
        .col-6
          .card.flex-row
            if l.img
              .card-img
                img(src=l.img, alt="" style="width:100px;")
            .card-body
              .card-title #{l.name}
              .card-text #{l.comment}
              form(action="/admin/comment/delete/"+product._id method="POST")
                input(style="display:none;" type="text" value=l.name name="name") 
                input(style="display:none;" type="text" value=l.comment name="comment") 
                input(style="display:none;" type="text" value=l.img name="img") 
                button(type="submit").btn.btn-danger Delete 
